@import url('https://googleapis.com');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img{
    margin-bottom: -5px;
    width: 100%;
}
body{
    font-family: 'Faustina', serif;
    background-color: azure;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: indigo;
    top: 0;
    position: sticky;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.navbar p{
    margin-left: 40px;
    color: violet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin-inline: -2px;
    padding-inline: 25px;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li:hover{
    background-color: green;
}
div h1{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    color: red;
}
div h2{
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}
div h3{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}
div h4{
     margin-top: 25px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 100;
}
div p{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 250;
    text-indent: 40px;
}
div ul li{
    align-items: first baseline;
}
div ul li a{
    text-decoration: none;
    font-family: 'Faustina', serif;
}
.contact{
    display: flexbox;
    text-align: flex-start;
}
.contacts ul li img{
    width: 10%;
    height: auto;
    margin-top: 30px;
    margin-left: 15px;
}
.general ul li img{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 10px;
}